#title {
  font-size: 75px;
  font-family: Lobster;
  color: purple;
}
#image {
  
}

#bio {
  text-align: center;
  font-size: 25px;
  color: blue;
}

#chrono {
  text-align: left;
  font-size: 20px;
}

body {
  background-color: #ADD8E6;
}
